// tablet
@media (max-width: 1000px) {

  // general
    // h$ font size
  h1 {
    font-size: 7.5rem;
    margin-top: 10vh;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
    padding-top: 0;
  }
  input,
  textarea {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  // index
  header {
    height: 60vh;
    img {
      bottom: -50px;
    }
  }

  .shortDescriptions {
    padding: 100px 0;
    .text {
      width: calc(95% - 50px);
      // maybe apply to main style ?
    }
  }

  .details {
    .box {
      width: auto;
      text-align: center;
    }
    .imageR {
      order: 0;
    }
  }

  .imageL,
  .imageR {
    position: static;
    img {
      position: static;
      transform: none;
    }
  }

  // blog
  .images {
    flex-direction: column;
    align-items: center;
    div:first-child {
      width: 90%;
      margin: 50px;
      position: relative;
      bottom: 100px;
    }
    div:last-child {
      width: 90%;
      margin: 50px;
      position: absolute;
      bottom: -750px;
    }
  }
  
  div.blogText {
    flex-direction: column;
    align-items: center;
    aside {
      margin: 0;
      width: 80%;
      position: relative;
      top: -600px; 
    }
    .gapColumn {
      display: none;
    }
    .subWrapper {
      width: 90%;
      article,
      .comments {
        top: -80px;
        padding: 50px 50px 100px;
      }
    }
  }

  //contact
  body.contact .wrapper {
    flex-direction: column;
    padding-bottom: 0;
    aside {
      order: 1;
      margin-left: 50px;
    }
  }
  .contact main {
    margin: 50px;
    .formBackground {
      width: calc(100% + 100px);
      left: -50px;
    }
  }
}