// tablet
@media (max-width: 1080px) {

// general
  // h$ font size
  h1 {
    font-size: 7.5rem;
    margin-top: 10vh;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
    padding-top: 0;
  }
  input,
  textarea {
    // font-size: 1rem;
    letter-spacing: 1px;
  }

// index
  header {
    height: 60vh;
    img {
      bottom: -50px;
    }
  }

  .shortDescriptions {
    padding: 100px 0;
    .text {
      width: calc(95% - 50px);
      // maybe apply to main style ?
    }
  }

  .details > div {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .details {
    .box {
      text-align: center;
      width: auto;
      // margin: auto 0;
    }
    .imageR {
      order: 0;
    }
  }

  .imageL,
  .imageR {
    position: static;
    // margin: 0 auto;
    img {
      position: static;
      transform: none;
    }
  }

  .events > div .box {
    margin-left: 50px;
  }

// blog
  .blogMain {
    flex-direction: column;
    justify-content: start;
    padding: 0 50px;
    aside {
      min-width: none;
      max-width: none;
      padding: 50px 0;
      .asideBackground {
        width: auto;
        flex-direction: row;
        justify-content: start;
        padding: 0;
        img {
          position: relative;
          top: -20px;
          left: -20px;
          padding: 0;
        }
        .asideText {
          flex-shrink: 0;
          padding: 15px;
          width: 50%;
        }
      }
    }
  }
  
  .blogMain main {
    & > div,
    article,
    section,
    form {
      position: static;
    }
  }
  
  .blogMain article,
  .comments,
  .postComment {
    padding: 50px 50px;
  }

//contact
  body.contact .wrapper {
    flex-direction: column;
    padding-bottom: 0;
    aside {
      order: 1;
      margin-left: 50px;
    }
  }
  .contact main {
    margin: 50px;
    .formBackground {
      width: calc(100% + 100px);
      left: -50px;
    }
  }
}

// phone
@media (max-width: 700px) {

// general
  .wrapper {
    width: 95%;
  }

  // nav
  nav {
    padding-top: 20px;
    margin: 0 auto;
    ul {
      margin: 0 auto;
      text-align: center;
      li {
        margin-right: 20px;
      }
      li:last-child {
        margin-right: 0px;
      }
    }
  }

  h1,
  h2 {
    margin-top: 15vh;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }

  // forms
  input {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
  }
  
  input[type="email"] {
    margin-left: 0;
    margin-bottom: 35px;
  }

// index
  header img {
    max-width: 55%;
    bottom: -25px;
  }

  .shortDescriptions {
    padding: 75px 0 0;
    > div {
      flex-direction: column;
      .box {
        width: 90%;
        margin: 0 auto 50px;
      }
    }
  }

  .roadTrips,
  .events,
  .gallery {
    padding: 50px 0;
  }

  .events > div {
    flex-direction: column;
    align-items: center;
    img {
      transform: none;
    }
    .box {
      text-align: center;
      margin: 50px auto 0;
      width: 90%;
    }
  }

  .gallery > div {
    flex-direction: column;
    align-items: center;
    div {
      margin: 0 10px 20px;
      width: auto;
    }
  }

// blog
  .blogMain {
    padding: 0 15px;
    aside {
      min-width: auto;
      max-width: auto;
      .asideBackground {
        width: calc(100% - 30px);
        margin: 0 auto;
        flex-direction: column;
        .asideText {
          width: 100%;
          padding-top: 0;
        }
      }
    }
  }

  .blogMain main {
    margin-right: 0;
    article,
    .comments {
      margin: 0 auto;
      padding: 50px 25px;
    }
    .postComment {
      margin: 0 auto;
      padding: 50px 0;
    }
  }

  .commentBox {
    flex-direction: column;
    img {
      margin-bottom: 15px;
    }
    div {
      width: 100%;
      .bold {
        width: 75%;
      }
    }
}

// contact
  .contact main {
    margin: 25px;
    .formBackground {
      height: calc(100% + 50px);
      width: calc(100% + 50px);
      left: -25px;
      bottom: 0px;
    }
    .sendMessage {
      bottom: 25px;
    }
  }


}