// typography
$walter: 'Walter Turncoat', cursive;
$roboto: 'Roboto', sans-serif;

// colours
$frenchBlue: #474BB5;
$darkishBlue: #044779;
$paleGrey: #F3FAFF;
$brightAqua: #08FDED;
$deepTurquoise: #03697C;